#home-body {
  height: 1fr;
}

#home-exec-preview {
  background: $panel-darken-2;
  dock: bottom;
  height: auto;
  max-height: 6;
}

#home-exec-button {
  height: 1fr;
}

#home-exec-preview-static {
  dock: left;
  width: 80%;
  padding: 1 2;
}

#home-exec-preview-buttons {
  dock: right;
  width: auto;
}

#home-commands-label {
  color: $text;
  background: $background;
  text-style: bold;
  width: auto;
  padding: 1 2;
}

#home-sidebar {
  dock: left;
  width: auto;
}

#home-command-description {
  padding: 1 2;
  color: $text;
  background: $primary 80%;
}

#home-command-description-container {
  dock: top;
  max-height: 6;
}

CommandTree {
  min-width: 12;
  max-width: 32;
  background: $background-lighten-1;
  scrollbar-gutter: stable;
  width: auto;
  padding: 1 0 1 2;
  height: 1fr;
}

CommandTree :focus {
  tint: $primary 20%;
}

CommandTree > .tree--cursor {
  background: $primary-darken-1;
}

CommandTree:focus > .tree--cursor {
  background: $primary-lighten-1;
}

CommandTree > .tree--guides {
  color: slategray;
}
CommandTree > .tree--guides-selected {
  color: $primary-lighten-2;
}
CommandTree > .tree--guides-hover {
  color: $primary-lighten-2;
}

Pretty {
  height: auto;
}