#home-body {
  height: 1fr;
}

#home-exec-preview {
  background: $panel;
  dock: bottom;
  height: auto;
  max-height: 6;
  border-top: wide $panel-lighten-1;
}

#home-exec-button {
  height: 1fr;
}

#home-exec-preview-static {
  dock: left;
  width: 80%;
  padding: 1 2;
}

#home-exec-preview-buttons {
  dock: right;
  width: auto;
}

#home-commands-label {
  color: $text;
  background: $background;
  text-style: bold;
  width: 100%;
  padding: 1 2;
}

#home-sidebar {
  dock: left;
  width: auto;
  border-right: thick $boost;
}

#home-command-description {
  padding: 1 2;
  color: $text;
  background: $primary;
  dock: top;
}

CommandTree {
  min-width: 12;
  background: $background-lighten-1;
  padding: 1 2;
  width: auto;
  height: 1fr;
}

CommandTree :focus {
  tint: $primary 10%;
  outline: wide $primary;
}

CommandTree > .tree--cursor {
  background: $primary-darken-1;
}

CommandTree:focus > .tree--cursor {
  background: $primary-lighten-1;
}

CommandTree > .tree--guides {
  color: slategray;
}
CommandTree > .tree--guides-selected {
  color: $primary-lighten-2;
}
CommandTree > .tree--guides-hover {
  color: $primary-lighten-2;
}

Pretty {
  height: auto;
}